@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap);body {
	font-family: Roboto,sans-serif;
	background: #21222c
}

a:focus,button:focus,input:focus {
	outline: 0
}

a:hover,button:hover,input:hover {
	text-decoration: none
}

button {
	border: 0;
	background: 0 0;
	outline: 0;
	cursor: pointer
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg)
	}
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

.button {
	border-radius: 4px;
	width: 163px;
	height: 40px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all ease-in-out .25s;
	transition: all ease-in-out .25s
}

.button-blue {
	background: #536dfe;
	border: 1px solid #3d5afe;
	color: #fafafa
}

.button-blue:hover {
	background: #3d5afe
}

.button[disabled] {
	background: #333;
	border: #333;
	cursor: not-allowed
}

header {
	padding: 1.25rem
}

header .container-fluid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

header .logo a {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

header .logo a .logo-image img {
	width: 32px;
	height: 32px;
	display: block;
}

header .logo a .logo-text {
	font-size: 15px;
	letter-spacing: 1px;
	color: #fff;
	margin-left: 12px
}

main {
	padding-top: 60px
}

main .exchange {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

main .exchange[data-direction=trx-bal] {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse
}

main .exchange .exchange-block {
	background: #2e2f39;
	border: 1px solid #41476b;
	border-radius: 4px;
	width: 180px;
	height: 203px
}

main .exchange .exchange-block .block-title {
	height: 48px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #fafafa;
	background-color: #282932;
	border-radius: 4px
}

main .exchange .exchange-block .block-details {
	height: 94px;
	color: #fafafa;
	border-top: 1px solid #41476b;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

main .exchange .exchange-block .block-details .currency {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

main .exchange .exchange-block .block-details .currency .currency-logo {
	margin-right: 14px;
	border-radius: 100%;
	display: inline-block;
	overflow: hidden;
}

main .exchange .exchange-block .block-details .currency .currency-logo img {
	width: 32px;
	height: 32px;
	/* border-radius:100%; */
	display: block;
	background: #fff;
}

main .exchange .exchange-block .block-details .currency .currency-name {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

main .exchange .exchange-block .block-details .amount {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	color: #90a4ae;
	margin-top: 12px;
	display: none
}

main .exchange .exchange-block .block-input {
	height: 60px;
	font-style: normal;
	font-weight: 500;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-top: 1px solid #41476b;
	border-radius: 0 0 4px 4px;
	margin-left: 0;
	margin-right: 0
}

main .exchange .exchange-block .block-input:hover {
	border-top: 1px solid #4c5480
}

main .exchange .exchange-block .block-input CurrencyInput {
	padding: 15px 20px;
	width: 100%;
	color: #fafafa;
	font-size: 16px;
	font-weight: 300;
	line-height: 19px;
	background-color: #2e2f39;
	border: none;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 0 1px #2e2f39,inset 0 0 0 100px #2e2f39;
	box-shadow: inset 0 0 0 1px #2e2f39,inset 0 0 0 100px #2e2f39;
	-webkit-transition: all ease-in-out .25s;
	transition: all ease-in-out .25s
}

main .exchange .exchange-block .block-input input:focus,main .exchange .exchange-block .block-input input:hover {
	background-color: #31313b;
	-webkit-box-shadow: inset 0 0 0 1px #31313b,inset 0 0 0 100px #31313b;
	box-shadow: inset 0 0 0 1px #31313b,inset 0 0 0 100px #31313b
}

main .exchange .exchange-block[data-type=trx] .block-details .currency .currency-logo img {
	padding: 5px;
}

main .exchange .swap {
	width: 148px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

main .exchange #swap {
	// background: url(../images/common/swap.svg) no-repeat center;
	width: 24px;
	height: 24px;
	display: block
}

main .exchange #swap.loading {
	// background: url(../images/common/circle.svg) no-repeat center;
	background-size: contain;
	-webkit-animation: 2s linear 0s infinite normal none running spin;
	animation: 2s linear 0s infinite normal none running spin;
	width: 80px;
	height: 80px
}

main .status .status-message {
	padding: 100px 0;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	display: none
}

main .status .status-message.active {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

main .status .status-message.status1 {
	color: #fafafa
}

main .status .status-message.status2 {
	color: #ff8a80
}

main .exchange-info {
	padding: 64px 0 22px 0;
	display: none
}

main .exchange-info.active {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

main .exchange-info .info-icon {
	// background: url(../images/common/swap.svg) no-repeat center;
	width: 20px;
	height: 20px;
	cursor: pointer;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	margin-right: 15px
}

main .exchange-info .info-text {
	font-size: 14px;
	line-height: 20px;
	color: #fafafa;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

main .exchange-info .info-text .first:after {
	content: '=';
	margin-left: 15px;
	margin-right: 15px
}

main .exchange-info .info-text .value {
	margin-right: 5px
}

main .expected-info {
	font-size: 14px;
	line-height: 16px;
	color: #fafafa;
	display: none;
	padding: 22px 0 64px 0
}

main .expected-info.active {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

main .expected-info .percent {
	margin: 0 5px
}

main .expected-info .percent:after {
	content: '%'
}

main .expected-info .fixed-percent {
	width: 50px;
	height: 24px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 10px;
	margin-right: 10px;
	color: #8c9eff;
	border: 1px solid #8c9eff;
	cursor: pointer;
	border-radius: 4px
}

main .action {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.modal-open .modal .modal-dialog {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100vh;
	margin: 0 auto
}

.modal-open .modal .modal-dialog .modal-content {
	display: table
}

.modal .modal-content {
	position: relative;
	width: 100%;
	background-color: #282932;
	border-radius: 12px;
	border: 1px solid #41476b
}

.modal .modal-content .close {
	display: none
}

.modal .modal-body {
	padding: 0
}

.modal .modal-body .options-list {
	-webkit-transition: all ease-in-out .25s;
	transition: all ease-in-out .25s
}

.modal .modal-body .options-list.hide-it {
	height: 0;
	opacity: 0;
	overflow: hidden
}

.modal .modal-body .options-list li {
	width: 100%;
	background-color: #282932;
	-webkit-transition: all ease-in-out .25s;
	transition: all ease-in-out .25s
}

.modal .modal-body .options-list li:not(:last-child) {
	border-bottom: 1px solid #41476b
}

.modal .modal-body .options-list li:first-child {
	border-radius: 12px 12px 0 0
}

.modal .modal-body .options-list li:last-child {
	border-radius: 0 0 12px 12px
}

.modal .modal-body .options-list li a,.modal .modal-body .options-list li button {
	text-align: center;
	display: block;
	padding: 0;
	width: 100%;
	padding: 30px 15px
}

.modal .modal-body .options-list li a span,.modal .modal-body .options-list li button span {
	display: block
}

.modal .modal-body .options-list li a .item-icon,.modal .modal-body .options-list li button .item-icon {
	margin-bottom: 30px
}

.modal .modal-body .options-list li a .item-icon img,.modal .modal-body .options-list li button .item-icon img {
	width: 45px;
	height: 45px;
	opacity: .75;
	-webkit-transition: all ease-in-out .25s;
	transition: all ease-in-out .25s
}
.modal .modal-body .options-list li a .item-icon img:not(:nth-of-type(1)),.modal .modal-body .options-list li button .item-icon img:not(:nth-of-type(1)) {
	margin-left: 15px;
}

.modal .modal-body .options-list li a .item-title,.modal .modal-body .options-list li button .item-title {
	font-size: 18px;
	color: #90a4ae
}

.modal .modal-body .options-list li a:hover .item-icon img,.modal .modal-body .options-list li button:hover .item-icon img {
	opacity: 1
}

.modal .modal-body .options-list li:hover {
	background: #21222c
}

.modal .modal-body .tabs {
	height: 0;
	opacity: 0;
	overflow: hidden;
	-webkit-transition: all ease-in-out .25s;
	transition: all ease-in-out .25s
}

.modal .modal-body .tabs.show-it {
	height: auto;
	opacity: 1;
	display: block
}

.modal .modal-body .tabs .tabs-list {
	border-bottom: 1px solid #1d1d23;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch
}

.modal .modal-body .tabs .tabs-list li {
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 1px;
	color: #90a4ae;
	padding: 25px 15px;
	cursor: pointer;
	text-align: center;
	width: calc(100%/3);
	-webkit-transition: all ease-in-out .25s;
	transition: all ease-in-out .25s;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
.modal .modal-body .tabs.hardware .tabs-list li {
	width: calc(100%/2);
}
.modal .modal-body .tabs .tabs-list li:first-child {
	border-radius: 12px 0 0 0
}

.modal .modal-body .tabs .tabs-list li:last-child {
	border-radius: 0 12px 0 0
}

.modal .modal-body .tabs .tabs-list li:hover {
	background: #21222c
}

.modal .modal-body .tabs .tabs-list li.active {
	background: #1d1d23;
	color: #fafafa;
	-webkit-transition: all ease-in-out 0s;
	transition: all ease-in-out 0s
}

.modal .modal-body .tabs .tabs-list-content {
	background: #1d1d23;
	padding: 30px;
	height: 487px;
	border-radius: 0 0 12px 12px
}

.modal .modal-body .tabs .tabs-list-content li {
	display: none
}

.modal .modal-body .tabs .tabs-list-content li.active {
	display: block
}

.modal .modal-body .tabs .tabs-list-content li form {
	width: 100%;
	position: relative
}

.modal .modal-body .tabs .tabs-list-content li form .form-input {
	width: 100%
}

.modal .modal-body .tabs .tabs-list-content li form .form-input:not(:last-child) {
	margin-bottom: 30px
}

.modal .modal-body .tabs .tabs-list-content li form .form-input label {
	display: block;
	font-size: 14px;
	color: #90a4ae;
	margin-bottom: 15px;
	letter-spacing: .5px
}

.modal .modal-body .tabs .tabs-list-content li form .form-input textarea {
	border: 0;
	resize: none;
	width: 100%;
	background: rgba(0,0,0,.1);
	display: block;
	padding: 15px;
	color: #fafafa;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: .5px
}

.modal .modal-body .tabs .tabs-list-content li form .form-input textarea::-webkit-scrollbar {
	width: .5em
}

.modal .modal-body .tabs .tabs-list-content li form .form-input textarea::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,.3)
}

.modal .modal-body .tabs .tabs-list-content li form .form-input textarea::-webkit-scrollbar-thumb {
	background-color: #21222c;
	outline: 0
}

.modal .modal-body .tabs .tabs-list-content li form .form-input textarea:focus {
	outline: 0
}

.modal .modal-body .tabs .tabs-list-content li form .form-input.input-file {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	width: initial
}

.modal .modal-body .tabs .tabs-list-content li form .form-input.input-file input {
	display: none
}

.modal .modal-body .tabs .tabs-list-content li form .form-input.input-file label {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
	-webkit-transition: all ease-in-out .25s;
	transition: all ease-in-out .25s;
	font-size: 12px;
	letter-spacing: .5px
}

.modal .modal-body .tabs .tabs-list-content li form .form-input.input-file label:before {
	content: ' ';
	width: 16px;
	height: 16px;
	// background: url(../images/common/upload.svg) no-repeat center;
	display: block;
	margin-right: 10px
}

.modal .modal-body .tabs .tabs-list-content li form .form-input.input-file label:hover {
	color: #fafafa
}

.modal .modal-body .tabs .tabs-list-content li form .form-input .sublabel {
	font-size: 12px;
	line-height: 1.2;
	color: #90a4ae;
	margin-bottom: 15px
}

.modal .modal-body .tabs .tabs-list-content li form .form-input .pass-input {
	position: relative
}

.modal .modal-body .tabs .tabs-list-content li form .form-input .pass-input input {
	border: 0;
	resize: none;
	width: 100%;
	background: rgba(0,0,0,.1);
	display: block;
	padding: 15px;
	color: #fafafa;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: .5px
}

.modal .modal-body .tabs .tabs-list-content li form .form-input .pass-input input:focus {
	outline: 0
}

.modal .modal-body .tabs .tabs-list-content li form .form-input .pass-input .eye {
	width: 20px;
	height: 20px;
	// background: url(/assets/images/common/eye.svg) no-repeat center;
	display: block;
	position: absolute;
	top: 50%;
	right: 10px;
	padding: 5px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer
}

// .modal .modal-body .tabs .tabs-list-content li form .form-input .pass-input .eye.closed {
// 	// background: url(/assets/images/common/eye-closed.svg) no-repeat center
// }

.modal .modal-body .tabs .tabs-list-content li form .form-button {
	margin-top: 30px;
	text-align: center
}

.modal .modal-body .tabs .tabs-list-content li form .form-button button {
	display: inline-block
}

.modal .modal-body .errors {
	display: none;
	text-align: center;
	color: #ffffff;
	padding: 50px 0;
}
.modal .modal-body .errors.show--error {
	display: block;
}
.modal .modal-body .errors .error-image {
	margin-bottom: 30px;
}
.modal .modal-body .errors .error-image img {
	width: 75px;
	height: 75px;
}
.modal .modal-body .errors .error-title {
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 1px;
	margin-bottom: 30px;
}
.modal .modal-body .errors .error-subtitle {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: .5px;
}
.modal-backdrop.show {
	opacity: .8
}